.header{
    display: flex;
    background-color: transparent ;
    flex-direction : row;
    justify-content: space-between;
    background: none ;
    position: fixed ;
    width: 100vw ;
    top: 0 ;
    margin: 10px ;
    margin-left : 20px;
    margin-top: 10px ;
    z-index: 100;
}

.header_logo{
    height: 50px ;
    width: 50px; 
    color : rgb(3, 3, 26);
    /* cursor : pointer; */
    display : flex;
    align-items: center;
}


.profiles{
    display : flex;
    align-items: center;
    flex-direction: row;
    position : relative;
    justify-content: space-between;
    right : 40px;
}

.profile_logo{
    margin-right : 20px;
    cursor:pointer;
}

/* .logo_bounce{
    transition : all 0.5s;
} */

.logo_bounce:hover{
    /* transform : translate(0,-10px); */
    animation-duration: 1s;
    animation-name: bounce;
}

@keyframes bounce {
 
    50% {
        margin-top : -20px;
    }

  }

.display_scroll_up{
    font-size: 1px;
}