.item{
    height : 100vh;
    width : 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size : cover;
    display : flex;
    justify-content: center;
    scroll-snap-align: start ;
}

.item_container{
   width : 40vw;
   display : flex;
   flex-direction : column;
    align-items : center;
    row-gap: 20px;
}

.item_text_intro_last_page{
    font-size : 45px;
    margin-top : 20%;
    color:rgb(121, 121, 121);
    font-weight:bolder;
    text-align : center;
    white-space : nowrap;
}


.input_field{
    border : 2px solid grey ;
    border-radius : 10px;
    height : 20px;
    width : 500px;
    display: table-cell;
    margin-bottom: 10px;
    font:inherit;
}

.input_field:focus{
    outline: none;
}

.contact_me{
    display : flex;
    flex-direction: column;
    align-items: center;
}

.item_textDesc_last_page{
    font-weight : 200;
    font-size : 30px;
}

.message{
    padding: 0 0.4rem 0.4rem 0;
    text-align : initial;
    height : 150px;
    font:inherit;
}

.submit_response{
    width : 150px;
    height : 50px;
    border-radius : 50px;
    display: flex;
    align-items: center;
    justify-content:center;
    column-gap: 5px;
    background: transparent;
    border: 2px solid rgb(255, 255, 255);
    color : white;
    font-size : 20px;
    font-weight: 200;
}


.submit_response:hover{
    background-color: rgb(185, 1, 155);
    color : white;
    cursor:pointer;
}

.submit_response:focus{
    outline:none;
}