.item{
    height : 100vh;
    width : 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size : cover;
    display : flex;
    justify-content: center;
    scroll-snap-align: start ;
}

.item_container{
   width : 40vw;
   display : flex;
   flex-direction : column;
    align-items : center;
}

.item_text_intro_page_two{
    width : 100vh ;
    margin-top : 20%;
    display : flex;
    flex-direction: column;
    font-size : 45px;
    color : #000000;
    align-items: center;
    flex:1;
    text-align: start;
    font-weight:bolder;
    text-align : center;
    white-space : nowrap;
    row-gap : 10px;
}


.technologies_container{
    display:flex;
    flex-direction : row;
    column-gap : 40px;
    justify-content: space-evenly;
}

.work_logo{
    border-radius :20px;
    width : 200px;
    height : 200px;
    transition: all 1s;
}


.logoDiv{
    overflow:hidden;
    position : relative;
    border-radius :20px;
    width : 200px;
    height : 200px;
}

.logoDiv:hover .work_logo{
    transform: scale(1.5,1.5);
    opacity : 0.5
}

.logoDiv:hover .text_over_work_logo{
    opacity:1;
    visibility: visible;
}

.text_over_work_logo{
    height : 200px;
    width : 200px;
    color : black;
    position : absolute;
    z-index : 1;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
}

.text_over_work_logo>p{
    font-family: "eurostile", sans-serif;
    white-space: normal;
    
}

.Title{
    font-size : 50px;
}

.Desc{
    font-size : 30px;
    font-weight : 100;
}

.visit{
    position:relative;
    top : -5px;
    height : 50px;
    width : 160px;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 15px;
    background : transparent;
    border : 2px solid black;
    transition: all 0.8s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 1s;
}

.visit:focus{
    outline:none;  
}

.visit:hover{
    background: rgb(0, 0, 0);
    cursor:pointer !important;
    color : white;
}

.visitButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.GitHub_button{
    width : 200px;
    height : 50px;
    border-radius : 50px;
    display: flex;
    align-items: center;
    justify-content:center;
    column-gap: 5px;
    background: transparent;
    border: 2px solid black;
    font-weight: bold;
    transition : all 0.5s ease-in;
}

.GitHub_button:hover{
    background-color: black;
    color : white;
    cursor:pointer;
}

.GitHub_button:focus{
    outline:none;
}