.item{
    height : 100vh;
    width : 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size : cover;
    display : flex;
    justify-content: center;
    scroll-snap-align: start ;
}

.item_container{
   width : 40vw;
   display : flex;
   flex-direction : column;
    align-items : center;
}

.item_text_intro_page_two{
    width : 100vw ;
    margin-top : 20%;
    display : flex;
    flex-direction: column;
    font-size : 45px;
    color : #000000;
    align-items: center;
    flex:1;
    text-align: start;
    font-weight:bolder;
    text-align : center;
    white-space : nowrap;
    row-gap : 10px;
}


.technologies_container{
    display:flex;
    flex-direction : row;
    column-gap : 40px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.work_logo{
    border-radius :20px;
    width : 200px;
    height : 200px;
    transition: all 1s;
}


.logoDiv{
    overflow:hidden;
    position : relative;
    border-radius :25px;
    width : 200px;
    height : 200px;
    border : 2px solid rgb(255, 0, 234);
}

.logoDiv:hover .work_logo{
    transform: scale(1.5,1.5);
    opacity : 0.5
}

.logoDiv:hover .text_over_work_logo{
    opacity:1;
    visibility: visible;
}

.text_over_work_logo{
    height : 200px;
    width : 200px;
    color : black;
    position : absolute;
    z-index : 1;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
}

.text_over_work_logo>p{
    font-family: "eurostile", sans-serif;
    white-space: normal;
}

.Title{
    font-size : 30px;
}

.Desc{
    font-size : 30px;
    font-weight : 100;
}

.visit{
    position:relative;
    top : -5px;
    height : 50px;
    width : 160px;
    border-radius: 20px;
    font-weight: bolder;
    background : transparent;
    border : 2px solid black;
    transition: all 0.8s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.visit:focus{
    outline:none;  
}

.visit:hover{
    background: rgb(0, 0, 0);
    cursor:pointer !important;
    color : white;
}

.visitButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.GitHub_button{
    width : 200px;
    height : 50px;
    border-radius : 50px;
    display: flex;
    align-items: center;
    justify-content:center;
    column-gap: 5px;
    background: transparent;
    border: 2px solid black;
    font-weight: bold;
    transition : all 0.5s ease-in;
}

.GitHub_button:hover{
    background-color: black;
    color : white;
    cursor:pointer;
}

.GitHub_button:focus{
    outline:none;
}


@media (max-width: 420px){
    .item_text_intro_page_two{
        width : 100vw ;
        margin-top : 10vh;
    }

    .technologiesLogo{
        height:70px;
        width: 70px;
    }

    .work_logo{
        border-radius :25px;
        width : 120px;
        height : 120px;
        transition: all 1s;
    }

    
    .logoDiv{
        overflow:hidden;
        position : relative;
        border-radius :25px;
        width : 120px;
        height : 120px;
        border : 2px solid rgb(255, 0, 234);
    }

    .text_over_work_logo{
        height : 120px;
        width : 120px;
        position: relative;
        top : 5px;
        color : black;
        position : absolute;
        z-index : 1;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-between;
    }


    .Title{
        font-size : 20px;
        text-align: center;
    }

    .visit{
        position:relative;
        top : -5px;
        height : 30px;
        width : 80px;
    }
    
}
